openapi: 3.2.0
info:
  title: ON24 WCC API v2 Content Listings API
  description: 'ON24 Webinar & Content Center REST API v2. All secured endpoints require two request headers: AccessTokenKey and AccessTokenSecret. Both headers must be supplied together — providing only one is not sufficient.'
  version: '2'
servers:
- url: https://api.on24.com/v2
  description: North America (production)
- url: https://api.eu.on24.com/v2
  description: European Union (production)
security:
- AccessTokenKey: []
- AccessTokenSecret: []
tags:
- name: Content Listings
paths:
  /client/{clientId}/ehub/{gatewayId}/content:
    get:
      tags:
      - Content Listings
      summary: Engagement Hub Content Listing
      description: Returns published content for a particular gateway event.
      operationId: ContentListings.EngagementHubContentListing
      parameters:
      - name: clientId
        in: path
        description: The client id
        required: true
        schema:
          type: number
        example: 32120
      - name: gatewayId
        in: path
        description: The gateway id
        required: true
        schema:
          type: number
        example: 1045208
      - name: accessTokenKey
        in: header
        description: Security Parameter
        required: true
        schema:
          type: string
        example: 63129107067A520E6B7DE18D5E1CB2BF
      - name: accessTokenSecret
        in: header
        description: Security Parameter
        required: true
        schema:
          type: string
        example: 072639740ac239333e3708a1623b9de3590d972e6b1060071b726ecfd9b216001b45391717d9fbeb780438
      responses:
        '200':
          description: Return list of contents for a gateway event
          content:
            application/json:
              example:
                gatewayid: 1045208
                contents:
                - contentid: 177588
                  title: Gateway Published Content Sample
                  abstract: <p>Gateway Published Content Sample</p>
                  campaigncode: CMP_CD_01
                  categories:
                  - name: All Webinars
                  - name: Encompass
                  - name: Utilization
                  tags:
                  - name: Tag 1
                  - name: Tag 2
                  - name: Tag 3
                  funnelstages:
                  - name: Awareness
                  - name: Consideration
                  - name: Evaluation
                  - name: Retention
                  filtergroups:
                  - name: Filter Group 1
                    filters:
                    - name: Filter 1
                    - name: Filter 2
                    - name: Filter 3
                  - name: Filter Group 2
                    filters:
                    - name: Filter A
                    - name: Filter B
                    - name: Filter C
                  thumbnail: http://gateway.on24.com/event/14/30/43/9/rt/1/images/thumbnail/sample.png
                  contenttype: webcast
                  url: https://gateway.on24.com/wcc/gateway/integrationdevs/5001240
                  livestart: '2016-09-09T10:00:23-07:00'
                  liveend: '2016-09-09T10:00:23-07:00'
                  archivestart: '2016-09-09T10:00:23-07:00'
                  archiveend: '2016-09-09T10:00:23-07:00'
        '401':
          description: AccessTokenKey and AccessTokenSecret are wrong or invalid.
        '403':
          description: The client id {clientId} is inactive. | You have reached the maximum number of calls for this api.
        '404':
          description: The Engagement Hub {gatewayId} doesn't exist.
  /client/{clientId}/mediamanager:
    get:
      tags:
      - Content Listings
      summary: Media Manager Derivative Content
      description: 'Retrieves the metadata for derivative content in Media Manager.


        Only returns content from the clientId specified in the request, and does not pull content from sub-accounts.


        There is a limit of 100 contents per page.


        Derivative content includes, and is limited to:


        - Nurture Page

        - Autogenerated Ebook

        - Autogenerated Blog Post

        - Autogenerated Key Takeaways

        - Transcript


        Content of type "Nurture Page" will always have a *contentid*.


        Content of type "Nurture Page" will never have a *mediaid*.


        Content of types "Autogenerated Ebook", "Autogenerated Blog Post", "Autogenerated Key Takeaways", and "Transcript" will always have a *mediaid*.


        Content of types "Autogenerated Ebook", "Autogenerated Blog Post", "Autogenerated Key Takeaways", and "Transcript" will only have a *contentid* after they are published for the first time.'
      operationId: ContentListings.MediaManagerDerivativeContent
      parameters:
      - name: clientId
        in: path
        description: The client id
        required: true
        schema:
          type: string
        example: 15448
      - name: accessTokenKey
        in: header
        description: Security Parameter
        required: true
        schema:
          type: string
        example: 63129107067A520E6B7DE18D5E1CB2BF
      - name: accessTokenSecret
        in: header
        description: Security Parameter
        required: true
        schema:
          type: string
        example: 072639740ac239333e3708a1623b9de3590d972e6b1060071b726ecfd9b216001b45391717d9fbeb780438
      - name: startdate
        in: query
        description: Limit results to those contents created after startDate. Max range between start and end dates can be up to 6 months.
        schema:
          type: string
          format: date
          default: 90 days before current date
        example: '2007-12-03'
      - name: enddate
        in: query
        description: Limit results to those contents created before endDate. Max range between start and end dates can be up to 6 months.
        schema:
          type: string
          format: date
          default: current date
        example: '2007-12-05'
      - name: pageoffset
        in: query
        description: Selects the page to retrieve
        schema:
          type: integer
          format: int64
          default: 0
        example: 1
      - name: itemsperpage
        in: query
        description: Number of items to be retrieved per page
        schema:
          type: integer
          format: int64
          default: 100
        example: 25
      responses:
        '200':
          description: Return list of content
          content:
            application/json:
              example:
                totalcontent: 5
                pagecount: 1
                currentpage: 0
                contents:
                - contenttype: Nurture Page
                  title: This is a title
                  contentid: 1775881
                  sourceeventid: 2478889
                  sourceeventtitle: Some Webinar Name
                  createddate: '2023-02-02T03:20:00-08:00'
                  createdby: Joe Smith
                  thumbnail: http://gateway.on24.com/event/17/75/88/1/rt/1/images/thumbnail/sample.png
                  url: https://gateway.on24.com/wcc/nurture/1775881/95D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  tags:
                  - name: Tag 1
                  - name: Tag 2
                  - name: Tag 3
                  funnelstages:
                  - name: Awareness
                  - name: Consideration
                  - name: Evaluation
                  - name: Retention
                - contenttype: Autogenerated Ebook
                  title: This is a title
                  contentid: 83316436
                  mediaid: 2775881
                  sourceeventid: 2478889
                  sourceeventtitle: Some Webinar Name
                  createddate: '2023-02-02T03:20:00-08:00'
                  createdby: Joe Smith
                  thumbnail: http://gateway.on24.com/event/27/75/88/1/rt/1/images/thumbnail/sample.png
                  urls:
                  - parentid: 1245667
                    url: https://gateway.on24.com/wcc/nurture/2775881/25D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  - parentid: 9876441
                    url: https://gateway.on24.com/wcc/nurture/9775881/95D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  tags:
                  - name: Tag 1
                  - name: Tag 2
                  - name: Tag 3
                  funnelstages:
                  - name: Awareness
                  - name: Consideration
                  - name: Evaluation
                  - name: Retention
                - contenttype: Autogenerated Blog Post
                  title: This is a title
                  mediaid: 3775881
                  sourceeventid: 2478889
                  sourceeventtitle: Some Webinar Name
                  createddate: '2023-02-02T03:20:00-08:00'
                  createdby: Joe Smith
                  thumbnail: http://gateway.on24.com/event/37/75/88/1/rt/1/images/thumbnail/sample.png
                  urls:
                  - parentid: 1245667
                    url: https://gateway.on24.com/wcc/nurture/2775881/25D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  - parentid: 9876441
                    url: https://gateway.on24.com/wcc/nurture/9775881/95D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  tags:
                  - name: Tag 1
                  - name: Tag 2
                  - name: Tag 3
                  funnelstages:
                  - name: Awareness
                  - name: Consideration
                  - name: Evaluation
                  - name: Retention
                - contenttype: Autogenerated Key Takeaways
                  title: This is a title
                  contentid: 83334439
                  mediaid: 4775881
                  sourceeventid: 2478889
                  sourceeventtitle: Some Webinar Name
                  createddate: '2023-02-02T03:20:00-08:00'
                  createdby: Joe Smith
                  thumbnail: http://gateway.on24.com/event/47/75/88/1/rt/1/images/thumbnail/sample.png
                  urls:
                  - parentid: 1245667
                    url: https://gateway.on24.com/wcc/nurture/2775881/25D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  - parentid: 9876441
                    url: https://gateway.on24.com/wcc/nurture/9775881/95D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  tags:
                  - name: Tag 1
                  - name: Tag 2
                  - name: Tag 3
                  funnelstages:
                  - name: Awareness
                  - name: Consideration
                  - name: Evaluation
                  - name: Retention
                - contenttype: Transcript
                  title: This is a title
                  mediaid: 5775881
                  sourceeventid: 2478889
                  sourceeventtitle: Some Webinar Name
                  createddate: '2023-02-02T03:20:00-08:00'
                  createdby: Joe Smith
                  thumbnail: http://gateway.on24.com/event/57/75/88/1/rt/1/images/thumbnail/sample.png
                  urls:
                  - parentid: 1245667
                    url: https://gateway.on24.com/wcc/nurture/2775881/25D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  - parentid: 9876441
                    url: https://gateway.on24.com/wcc/nurture/9775881/95D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                  tags:
                  - name: Tag 1
                  - name: Tag 2
                  - name: Tag 3
                  funnelstages:
                  - name: Awareness
                  - name: Consideration
                  - name: Evaluation
                  - name: Retention
        '400':
          description: Bad request
        '401':
          description: AccessTokenKey and AccessTokenSecret are wrong or invalid
        '403':
          description: You do not have permission to perform the requested operation | You have reached the maximum number of calls for this api | The client id {clientId} is inactive
        '404':
          description: The client {clientId} doesn't exist
  /client/{clientId}/mediamanager/{mediaId}:
    get:
      tags:
      - Content Listings
      summary: Media Manager Derivative Content Text
      description: 'Retrieves the metadata for a particular derivative content in Media Manager, identified by *mediaId*.


        **Derivative content supported:**


        - Autogenerated Ebook

        - Autogenerated Blog Post

        - Autogenerated Key Takeaways

        - Transcript'
      operationId: ContentListings.MediaManagerDerivativeContentText
      parameters:
      - name: clientId
        in: path
        description: The client id
        required: true
        schema:
          type: string
        example: 15448
      - name: accessTokenKey
        in: header
        description: Security Parameter
        required: true
        schema:
          type: string
        example: 63129107067A520E6B7DE18D5E1CB2BF
      - name: accessTokenSecret
        in: header
        description: Security Parameter
        required: true
        schema:
          type: string
        example: 072639740ac239333e3708a1623b9de3590d972e6b1060071b726ecfd9b216001b45391717d9fbeb780438
      - name: mediaId
        in: path
        description: The media id of the content requested
        required: true
        schema:
          type: string
        example: 2775881
      responses:
        '200':
          description: Returns content metadata
          content:
            application/json:
              example:
                contenttype: Transcript
                title: This is a title
                mediaid: 5775881
                sourceeventid: 2478889
                sourceeventtitle: Some Webinar Name
                createddate: '2023-02-02T03:20:00-08:00'
                createdby: Joe Smith
                thumbnail: http://gateway.on24.com/event/57/75/88/1/rt/1/images/thumbnail/sample.png
                urls:
                - parentid: 1245667
                  url: https://gateway.on24.com/wcc/nurture/2775881/25D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                - parentid: 9876441
                  url: https://gateway.on24.com/wcc/nurture/9775881/95D40D5588A0B7BF420C5976C78DE19B/some-webinar-name
                tags:
                - name: Tag 1
                - name: Tag 2
                - name: Tag 3
                funnelstages:
                - name: Awareness
                - name: Consideration
                - name: Evaluation
                - name: Retention
                text: <p><h1>Lorem ipsum dolor sit amet,</h1> consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        '400':
          description: Bad request
        '401':
          description: AccessTokenKey and AccessTokenSecret are wrong or invalid
        '403':
          description: You do not have permission to perform the requested operation | You have reached the maximum number of calls for this api | The client id {clientId} is inactive
        '404':
          description: The client {clientId} doesn't exist | The content identified by {mediaId} doesn't exist
components:
  securitySchemes:
    AccessTokenKey:
      type: apiKey
      description: API access token key issued by the ON24 platform. Must be supplied together with AccessTokenSecret.
      name: AccessTokenKey
      in: header
    AccessTokenSecret:
      type: apiKey
      description: API access token secret corresponding to the AccessTokenKey. Must be supplied together with AccessTokenKey.
      name: AccessTokenSecret
      in: header
